@import url('https://fonts.cdnfonts.com/css/hero-4');

.cont{
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.cont-author{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.author{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Hero', sans-serif;
}

.author:hover{
    border-bottom: 1px solid white;
}

.github-icon{
    margin-left: 5px;
}

@media (min-width: 720px) and (max-width: 1299px){

    .author{
        font-size: 20px;
    }
}

@media (min-width: 1300px) and (max-width: 1919px){

    .cont{
        min-width: 90vw;
    }

    .cont-author{
        right: 20px;
    }
    
    .author{
        font-size: 20px;
    }
}

@media (min-width: 1920px){
    
    .cont{
        min-width: 90vw;
    }

    .cont-author{
        right: 20px;
    }
    
    .author{
        font-size: 25px;
    }
}